:root {
  --text_color_one: #fff;
  --text_color_two: #000;
  --text_color_three: #102746;
  --hightligh_color_one: #1B7DFF;
  --overlay-color: rgba(53, 66, 103, 0.3);
  --background-color: #0E1D28;
}

*{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

a{
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--hightligh_color_one);
}

p{
  font-size: 18px;
  line-height: 24px;
}

li{
  list-style: none;
}

h1{
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 22px 0;
}

h2{
  font-size: 35px;
  line-height: 42px;
  color: var(--text_color_three);
}

.heading-underline{
  position: relative;
  display: inline-block;
}

.heading-underline::after{
  content: "";
  width: 50%;
  border-bottom: 2px solid #006DFE;
  position: absolute;
  left: 0;
  bottom: -7px;
}

h3 {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: var(--text_color_one);
}

h4 {
  font-size: 30px;
  line-height: 40px;
  color: var(--text_color_three);
}

h5{
  font-size: 18px;
  line-height: 24px;
  color: var(--text_color_one);
}


/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

img{
  max-width: 100%;
  display:block;
  height: auto
}

.big-btn,
.sm-btn{
  color: var(--text_color_one);
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  background-color: var(--hightligh_color_one);
  border: none;
  padding: 14px 40px;
  }

.sm-btn{
  font-size: 16px;
  line-height: 19px;
  padding: 12px 19px;
}

.wrapper{
  max-width: 1270px;
  margin: 0 auto;
}
.wrapper--padding{
  padding: 0 100px;
}

.read-more::after{
  content: url('../img/arrow-right.svg');
  margin-left: 1.875rem;
  }



/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.site-header{
  background-image: 
    linear-gradient(
      180deg, 
    rgba(53, 66, 103, 0.0001) 0%, 
    #151824 95.04%
    ),
  url(../img/hero_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text_color_one);
  padding-bottom: 225px;
}


  .main-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    margin-bottom: 175px;;
  }

    .main-nav{
      display: flex;
      width:50%;
      justify-content: space-between;
    }
      .main-nav__link{
        font-size: 18px;
        color: var(--text_color_one);
      }


  .hero-heading{
    max-width: 620px;
  }
  .hero-text{
    max-width: 550px;
    margin-bottom: 60px;
  }


  .search-form__body{
    display: flex;
    flex-flow: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 890px;
  }

    .search-form__input{
      font-size: 18px;
      padding-bottom: 22px; 
      background-color: transparent;
      width: 100%;
      max-width: 300px;
      color: var(--text_color_one);
      border: none;
      border-bottom: 2px solid #BFC0C5
    } 
    .search-form__input::placeholder{
      color: var(--text_color_one);
    }

  .search-form{
    margin-bottom: 150px;
  }





/*------------------------------------*\
  #BENEFITS
\*------------------------------------*/

.benefits{
  position: relative;
  top: -225px;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 112px;
  margin-bottom: -95px;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

  .benefits__header{
    margin-bottom: 120px;
  }

.benefits__container{
  display: flex;
  justify-content: space-between;
}

  .benefits__single-item{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 320px;
    height: 280px;
  }





/*------------------------------------*\
  #INSPIRED
\*------------------------------------*/

.inspired__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.inspired{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

  .inspired__item--small{
    grid-column: span 2;
  }

  .inspired__item--big{
    grid-column: span 3;
  }

  .inspired__item{
    position: relative;
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  }
    .inspired__image{
        height: 100%;
        position: relative;
        width: 100%;
        z-index: -1;
    }
    .inspired__title{
    position: absolute;
    left: 29px;
    bottom: 27px;
    margin: 0;
    }
.inspired__section{
  margin-bottom: 130px;
}





/*------------------------------------*\
  #PREFECTURE
\*------------------------------------*/

.prefecture{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 77px;
}

.prefecture--rtl{
  flex-flow: row-reverse;
}

  .prefecture__image{
    width: 47%;
  }

  .prefecture__info{
    display: flex;
    width: 43%;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .prefecture__section{
    margin-bottom: 140px;
  }





/*------------------------------------*\
  #TOP PLACES
\*------------------------------------*/

.place__header{
  margin-bottom: 64px;
}

.place__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px 52px;
}

  .place{
    height: 567px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }
    .place__image-container{
      position: relative;
    }
      .place__image{
        width: 100%;
      }
      .place__info{
        display: flex;
        position: absolute;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 25px;
        background: rgba(21, 24, 36, 0.6);
        color:var(--text_color_one);
      }
        .place__title{
          margin-right: auto; 
        }
        .place__likes::after{
          content: url(/img/like.svg)
        }
        .place__comments::after{
          content: url(/img/msg.svg)
        }
        .place__likes::after,
        .place__comments::after{
          vertical-align: middle;
          padding: 2px;
        }
.place__section{
  margin-bottom: 144px;
}




/*------------------------------------*\
  #FOOOTER
\*------------------------------------*/

.page-footer{
  padding: 120px 0;
  background-color: var(--background-color);
}
.page-footer a {
  color: var(--text_color_one);
}
.footer__container{
  display: flex;
  justify-content: space-between;
}
.footer__logo{
  width: 170px;
  height: 64px;
  margin-right: 20%;
}